*{
    margin: 0;

}

header{
    background-color: pink;
    text-align: center;
    align-items: center;
}

img.logo{
    width: 700px;
    height: 250px;
}

footer{
    background-color: palevioletred;
}

main{
    background-color: pink;
}

nav{
    display: flex;
    justify-content: center;
    background-color: palevioletred;
    padding: 10px;
}

nav a{
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.caixa_mae{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    border-radius:10px;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: palevioletred;
    color: white;
    transition: 2s;
}

.img_card{
    width: 210px;
    height: 200px;
}

.hero{
    color: rgb(204, 60, 108);
}

.conteiner{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    color: rgb(204, 60, 108);
}

.time{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: rgb(204, 60, 108);

}

.servico{
    max-width: 1200px;
    margin: auto;
    padding: 15px;
    color: rgb(204, 60, 108);
}
