:root {
    --primary-color: pink;
    --secondary-color: palevioletred;
    --accent-color: rgb(204, 60, 108);
    --primary-color-trasparente: rgb(255, 192, 203, 0.7);
    --text-color: white;
    --dark-color: #333;
    --btn-color: #6c5b7b;
}

body { 
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
    background-color: var(--dark-color); 
}

header {
    background-color: var(--primary-color); 
    color: var(--text-color); 
    padding: 20px; 
    text-align: center; 
}

nav {
    display: flex; 
    justify-content: center; 
    background-color: var(--accent-color); 
    padding: 10px; 
}

nav a {
    color: var(--text-color); 
    margin: 0 15px; 
    text-decoration: none; 
}

.hero {
    background-image: url(img/logo.png); /* Imagem de fundo para a seção hero */
    background-size: cover; 
    height: 400px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: var(--text-color); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
main{
    background-image: url(img/fundo.jpg);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-attachment: fixed;
}
.hero h1 {
    font-size: 48px;
    margin: 0;
}

.container {
    width: 90%; 
    max-width: 1200px; 
    margin: auto; 
    padding: 20px;
}

.section {
    background-color: white; 
    margin: 20px 0; 
    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.produtos {
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap;
}

.produto {
    background-color: var(--secondary-color); 
    padding: 20px; 
    border-radius: 5px; 
    width: 220px; /* Controla a largura dos cards */
    height: 450px;
    margin: 10px;
    text-align: center;
    position: relative;
}
.servicos {
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap;
}
.servico {
    background-color: var(--secondary-color); 
    padding: 20px; 
    border-radius: 5px; 
    width: 30%; 
    margin: 10px;
    text-align: center;
}
.texto_produto{
    position: absolute;
    bottom: 20px;
    width: 220px;
    color: var(--text-color);
}

.product-image {
    width: 100%; /* Faz as imagens ocuparem toda a largura do card */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 10px;
}



footer {
    background-color: var(--accent-color); 
    color: var(--text-color); 
    text-align: center; 
    padding: 20px; 
    position: relative; 
    bottom: 0; 
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.footer-logo {
    width: 100px;
    height: auto;
}

.footer-links {
    text-align: left;
}

.footer-links h3 {
    margin: 0;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links li {
    margin: 5px 0;
    color: var(--text-color);
    text-decoration: none;
}

.footer-links li:hover {
    text-decoration: underline;
}


#sobre, #produtos, #contato, #servicos, #localizacao{
    background-color: var(--primary-color-trasparente);
}
/* Localização */
#localizacao {
    padding: 50px;
    text-align: center;
}

.locmaps {
    width: 80%;
    height: 300px;
    border: 0;
    margin: 20px 0;
}

